API_KEY="your-secret-api-key"  
BASE_URL="optional-base-url"  # e.g. https://api.openai.com/v1, if not set, it will default to OpenAI's API endpoint
LLM_MODEL="model-name-that-you-want-to-use"  # e.g. gpt-3.5-turbo, gpt-4, etc.
TEMPERATURE="temperature-between 0-1"  # chatgpt temperature setting, higher values means more creative responses
