# langchain
# langgraph
# python-dotenv
# langchain-openai
# langsmith

# allure-pytest==2.15.3

playwright==1.58.0
pytest==9.0.2
bs4==0.0.2
langchain==1.2.12
langchain-openai==1.1.11
langgraph==1.1.2
langsmith==0.7.20
python-dotenv==1.2.2